<a href="https://colab.research.google.com/github/sourcecode369/100-days-of-ml-code/blob/master/new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import random
from collections import defaultdict

In [0]:
years = [2020 for i in range(20)]
quarters = [i % 4 for i in range(20)]
months = [i%12 for i in range(20)]
bd_name = [random.randint(20000,30000) for i in range(20)]
bd_ids = [random.randint(100,200) for i in range(20)]
balance_type = [random.choice([0,1,2]) for i in range(20)]

In [0]:
myDict = { k:(v,w) for (k,v,w) in zip(bd_ids, bd_name, balance_type)}

y_q_m = {i:(y,q,m) for i,(y,q,m) in enumerate(zip(years,quarters,months))}
def generate_yqm(period):
  return y_q_m[period]

row = defaultdict(list)
period = 0

for k, (v,w) in myDict.items():
    row[(' ',' ',"BD_ID")].append(k)
    row[(" "," ","BD_NAME")].append(v)
    row[(" "," ","BALANCE_TYPE")].append(w)
    row[("Year","Quarter","Month")].append("")
    y, q, m = generate_yqm(period)
    row[(y,q,m)] = ""
    period+=1

In [4]:
row

defaultdict(list,
            {(' ', ' ', 'BALANCE_TYPE'): [2,
              2,
              2,
              1,
              1,
              0,
              2,
              1,
              1,
              2,
              0,
              2,
              2,
              2,
              0,
              1,
              0],
             (' ', ' ', 'BD_ID'): [135,
              107,
              194,
              140,
              172,
              177,
              106,
              178,
              160,
              127,
              120,
              182,
              105,
              108,
              167,
              117,
              143],
             (' ', ' ', 'BD_NAME'): [26127,
              25492,
              20177,
              28812,
              27322,
              28978,
              28440,
              29374,
              24919,
              28298,
              26723,
              21074,
              29978,
              28453,
              21610,
              23752,
              29263],
             ('Year', 'Quarter', 'Month'): ['',
              '',
              '',
              '',
              '',
              '',
              '',
              '',
              '',
              '',
              '',
              '',
              '',
              '',
              '',
              '',
              ''],
             (2020, 0, 0): '',
             (2020, 0, 4): '',
             (2020, 0, 8): '',
             (2020, 1, 1): '',
             (2020, 1, 5): '',
             (2020, 1, 9): '',
             (2020, 2, 10): '',
             (2020, 2, 2): '',
             (2020, 2, 6): '',
             (2020, 3, 11): '',
             (2020, 3, 3): '',
             (2020, 3, 7): ''})

In [246]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/25/88/a38f35b00ce4dd166a20e1a0a25e438e19e332e680df52af4aeac0df0f03/XlsxWriter-1.2.2-py2.py3-none-any.whl (140kB)
     |████████████████████████████████| 143kB 8.5MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.2.2

In [5]:
list(row.keys())

[(' ', ' ', 'BD_ID'),
 (' ', ' ', 'BD_NAME'),
 (' ', ' ', 'BALANCE_TYPE'),
 ('Year', 'Quarter', 'Month'),
 (2020, 0, 0),
 (2020, 1, 1),
 (2020, 2, 2),
 (2020, 3, 3),
 (2020, 0, 4),
 (2020, 1, 5),
 (2020, 2, 6),
 (2020, 3, 7),
 (2020, 0, 8),
 (2020, 1, 9),
 (2020, 2, 10),
 (2020, 3, 11)]

In [0]:
from xlsxwriter import Workbook

In [0]:
from openpyxl import Workbook
wb=Workbook()
dest_filename = 'excelsheet.xlsx'
ws1 = wb.active
ws1.title = "nested lists"
dict=row
number=1
for item in dict.keys():
    ws1.cell(row=1,column=number).value=item[0]
    ws1.cell(row=2, column=number).value=item[1]
    ws1.cell(row=3,column=number).value=item[2]
    r=4
    for list in dict[item]:
        ws1.cell(row=r, column=number).value = str(list)
        r+=1
    number += 1
wb.save(filename = dest_filename)

In [0]:
df = pd.DataFrame(row,index=np.arange(20))

In [209]:
df.head()

                  ... 2000                   2000
                  ...    2                      3
   BD_ID BD_NAME  ...                      6                       7
0  27590     166  ...
1  25043     164  ...
2  27248     146  ...
3  22512     134  ...
4  25217     167  ...

[5 rows x 24 columns]

In [0]:
# df.to_csv("demo.csv",index=False,columns=df.iloc[0,:])

In [0]:
df2 = pd.read_excel('sub.xlsx')
df2.columns = [" "," "," "," "] + list(df2.columns[4:])

In [0]:
df2 = df2.replace(np.nan," ",regex=True)

In [0]:
df2.drop(2, inplace=True)

In [231]:
df2.columns =

               ... 2000                   2000
0              ...                      2                       3
1       BD_ID  ...                      6                       7
3    0  27590  ...
4    1  25043  ...
5    2  27248  ...
6    3  22512  ...
7    4  25217  ...
8    5  21966  ...
9    6  20508  ...
10   7  27164  ...
11   8  21424  ...
12   9  21459  ...
13  10  23476  ...
14  11  21077  ...
15  12  20138  ...
16  13  20303  ...
17  14  22670  ...
18  15  22464  ...
19  16  27037  ...
20  17  27571  ...
21  18  28834  ...
22  19  26155  ...

[22 rows x 25 columns]

In [233]:
df2.drop(df2.iloc[:,0],axis=1,inplace=True)

KeyError: ignored

In [228]:
df2.reset_index(df2.iloc[:,1],drop=True)

ValueError: ignored

In [0]:
pd.DataFrame(x).to_excel("example.xlsx",index=False)